# 24 JAN 2023

### Regular Expressions with metacharctors

In [15]:
from re import *
s="mmmmn"
x=search("m*n",s) #starting with m and having 0  or more occurance of m
print(x)

<re.Match object; span=(0, 5), match='mmmmn'>

In [18]:
from re import *
s="man aaan"
x=search(".*",s) #starting with m and having 0  or more occurance of m
print(x)

<re.Match object; span=(0, 9), match='man aaana'>

string starts with m and and ends with n

In [19]:
s = "msjdfyhgdysihfn"
x = search("^m.*n$",s)
print(x)

<re.Match object; span=(0, 15), match='msjdfyhgdysihfn'>

In [26]:
s = "mjajsdfhn"
x = search("^m[a-z]*n$",s)
print(x)

<re.Match object; span=(0, 9), match='mjajsdfhn'>

In [27]:
x = findall("^m[a-z]*n$",s)
print(x)

['mjajsdfhn']

In [30]:
s = "table tabla tale stable staple"

x = findall("^t",s)
print(x)

['t']

In [41]:
s = "table tabla tale stable staple"

l = split(" ",s)
print(l)

y  = list(map(lambda x: findall("^t.+e$",x),l))
print(y)

['table', 'tabla', 'tale', 'stable', 'staple']
[['table'], [], ['tale'], [], []]

start with anything but it should end with e

In [50]:
s = "table tabla tale stable staple te"

l = split(" ",s)
print(l)

y = list(map(lambda x: findall("^t.+e$",x),l))
print(y)

['table', 'tabla', 'tale', 'stable', 'staple', 'te']
[['table'], [], ['tale'], [], [], []]

+and *

In [52]:
s = "mn"
x = findall("ma+n",s)
print(x)
y = findall("ma*n",s)
print(y)

[]
['mn']

chck a string starts and ends with l

In [69]:
s = "lev12el"
x = findall("^l[1-z].*l$",s)
print(x)

['lev12el']

#### parenthesis {}

In [59]:
s = "maan"
x= findall("ma{2}n",s) # a should happen exactly 2 times
print(x)

['maan']

find words where a is occuring atleast exactly two time between m and n

In [71]:
s = 'mn man maan maaan maan man mn'
l = split(" ",s)
print(l)
x = list(map(lambda x: findall("ma{2}n",x),l))
print(x)

['mn', 'man', 'maan', 'maaan', 'maan', 'man', 'mn']
[[], [], ['maan'], [], ['maan'], [], []]

find words with atleast 2 a in between m and n

In [96]:
s = 'mn man maan maaan maan man mn'
l = split(" ",s)
print(l)
x = list(map(lambda x: findall("ma{2}a*n",x),l))
print(x)

['mn', 'man', 'maan', 'maaan', 'maan', 'man', 'mn']
[[], [], ['maan'], ['maaan'], ['maan'], [], []]

find words which has atleast 4 letters

In [94]:
s = 'mn man maan maaan maan man mn'
l = split(" ",s)
print(l)
x = list(map(lambda x: findall(".{4}.*",x),l))
y = list(map(lambda x: findall(".....*",x),l))
print("using {}: ",x)
print("using . :",y)

['mn', 'man', 'maan', 'maaan', 'maan', 'man', 'mn']
using {}:  [[], [], ['maan'], ['maaan'], ['maan'], [], []]
using . : [[], [], ['maan'], ['maaan'], ['maan'], [], []]

#### or |

In [100]:
s = "table tabla tale stable staple te"
x = findall("able|ale|sta",s)
print(x)

['able', 'ale', 'sta', 'sta']

write a regular expression to check pincode
1. 6 digits
2. should not start with zero
3. first digit between 1 to 9
4. next 5 digits should be from 0 to 9
5. it should allow only one white space
6. the space should appear only after first three digits(optional)

In [133]:
s="123 436"

x = findall("^[1-9][0-9]{2}[ -]{0,1}[0-9]{3}$",s)
print(x)

['123 436']

to check for 2 precesion decimal point

In [144]:
n = "165451364561.00"

x = findall(".*\...$",n)
print(x)

['165451364561.00']